<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hcl_subscription>
            <general>
                <email_template>hcl_subscription_general_email_template</email_template>
            </general>
        </hcl_subscription>
    </default>
</config>